<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Keywords"
        content="AI Solutions, AI in Healthcare, AI in Construction, AI in Retail, AI in Automobile, AI in Customerised Services ">

    <link rel="stylesheet" href="{%static '/css/imagetext.css'%}">
    <!-- <link rel="stylesheet" href="{%static '/css/style.css'%}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="{%static '/images/symb.jpeg'%}" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <link rel="shortcut icon" type="image/x-icon" href="{%static '/images/symb.jpeg'%}" />
    <link rel="stylesheet" href="{%static '/css/aos.css'%}">
    <title>Consulting</title>
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href=" {%static '/css/bootstrap.css'%} ">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
</head>
<style>
    .navbar {
        position: fixed;
        z-index: 1000;
        left: 0;
        right: 0;
        padding: 8px;

    }

    .navbar-brand {
        padding: 0px 10px;
    }


    .content {

        z-index: 2;
    }

    .clip {
        border-bottom-right-radius: 50% 15%;
        border-bottom-left-radius: 50% 15%;
    }

    .spaceing {
        letter-spacing: 3px;
        text-align: center;
        text-transform: uppercase;
    }

    .num {
        border-bottom: 1px solid black;
        padding: 5px 0px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 50%;
    }

    .col-md-3:hover .num {
        background-color: rgb(16, 124, 248);
        color: white;
        transition-duration: 0.6s;
    }

    .para {
        font-size: 14px;
        color: rgb(94, 94, 94);
    }

    .showcase {
       /* box-shadow: 50px 10px #cac9c9;*/
      /*  box-shadow: 0 0 25px 0 rgba(50, 50, 50, .3) inset;*/
    }

    .formdiv {
        /* background-image: url("{%static '/images/map.jpg'%}") !important;*/
        background-repeat: no-repeat;
        border-radius: 10px;
        background-size: cover;
        background-color: rgb(241, 241, 241);
    }

    ul li {
        text-decoration: none;
        display: inline;

    }

    ul {
        padding: 0;
    }

    .mailto {
        font-size: 14px;
        text-decoration: none;
        text-emphasis: none;
        color: black;
    }

    .mailto:hover {
        text-decoration: none;
        color: black;
    }

    .no-arrow {
        -moz-appearance: textfield;
    }

    .no-arrow::-webkit-inner-spin-button {
        display: none;
    }

    .no-arrow::-webkit-outer-spin-button,
    .no-arrow::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .footer-ul li a {
        text-decoration: none;
        margin: 0px 10px;
    }

    .social-media li a {
        text-decoration: none;
        margin: 0px 5px;
    }

    .video-container:after {
        content: '';
        z-index: 1;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
    }

    @media only screen and (max-width: 700px) {
        .remove {
            display: none;
        }
    }

    .grow {
        transition: box-shadow 0.3s ease-in-out;
    }

    .grow:hover {
        box-shadow: 0 1px 5px rgba(133, 133, 133, 0.9);

    }

    * {

        font-family: 'Josefin Sans', sans-serif;
    }
</style>
{% if message %}
<script>
    alert("{{message}}")
</script>
{% endif %}

<body>

    <!-- Image and text -->
    <header class="navigation fixed-top">
        <!-- <div class="container"> -->
        <!-- main nav -->
        <nav class="navbar navbar-expand-lg navbar-ligh bg-light">
            <!-- logo -->
            <a class="navbar-brand d-inline-block align-top " href="{%url 'index'%}">
                <img class="logo-defau d-none d-lg-block bg-light" src="{%static '/images/symb.jpeg'%}"
                    alt="solvingscale.ai" title="solvingscale.ai" style="width: 35%;border-radius: 50%;" />
            </a>
            <!-- <a href="" class="d-none d-lg-block ml-auto"><span >SolvingScaleAI</span></a> -->
            <!-- /logo -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars" aria-hidden="true"></i>

            </button>

            <div class="collapse navbar-collapse" id="navigation">
                <ul class="navbar-nav ml-auto text-center camsecdemo">
                    <a href="{%url 'index'%}"><img class="logo-whi d-lg-none d-sm-block ml-auto mr-auto"
                            src="{%static '/images/logoblue.png'%}" style="width: 70%;" alt="solvingscale.ai" /></a>
                    <li class="nav-item ">
                        <a class="nav-link" href="{%url 'company'%}">Company</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{%url 'consulting'%}">Consulting</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{%url 'team'%}">Team</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{%url 'portfolio'%}">Career</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{%url 'contact'%}">Contact</a>
                    </li>

                </ul>
            </div>
        </nav>
        <!-- /main nav -->
        <!-- </div> -->
    </header>
    <section class="showcase">
        <div class="video-container clip">

            <img class="" src="{%static '/images/solvingscale_consulting.gif'%}" width="100%"
                alt="solvingscale.ai banner">

        </div>
        <div class="content ">
            <h4 style="font-family: 'Josefin Sans', sans-serif;" data-aos="fade-down" data-aos-duration="1000">Business
                in today's world is dominated by the era of data</h4>
            <h1 style="font-size:7vh; font-family: 'Josefin Sans', sans-serif;" data-aos="zoom-in"
                data-aos-duration="2000">Are you ready to experince?</h1>
            <!-- <h5 >Highly Tailored IT Design, Development & Security Services.</h5><br><br> -->
            <button id="videobtn" class="btn btn-warning" style="font-family: 'Josefin Sans', sans-serif;">
                Get Free consulation Now
            </button>
            <button class="btn btn-outline-warning" onclick="location.href='#industry'" style="font-family: 'Josefin Sans', sans-serif;">
                Know Your Industry
            </button>

        </div>
    </section><br>

    <div class="text-center my-4">
        <h1 data-aos="fade-down ">Businesses That have Transformed Operations with AI </h1>
        <br>
        <div class="border"></div>
    </div>
    <div class="container" id="industry">

        <div class="row text-center  grow " style=" border-radius: 10px;">
            <div class="col-md-6 my-auto p-5">
                <i class="fa fa-hospital-o fa-4x" data-aos="fade-down" aria-hidden="true"></i><br> <br>
                <h4 data-aos="zoom-in" data-aos-duration="1000">HEALTHCARE</h4>
                <p class="" data-aos="flip-right" data-aos-duration="1000">Health is wealth!. While technology
                    is getting ubiquitous, and increasing
                    number of patients in
                    hospitals, its hard to take care of the patient and staff of the hospitals. We provide a
                    solution to
                    overcome this problem.</p>
                <button class="btn btn-outline-primary" onclick="location.href = 'healthcare'">Know
                    More</button>
            </div>
            <div class="col-md-6 my-auto p-3">
                <video style="width:100%; border-radius: 10px;" autoplay loop muted>
                    <source src="{%static '/images/vid3.webm'%}" type="video/webm">
                    <source src="{%static '/images/vid3.mp4'%}" type="video/mp4">
                </video>
            </div>
        </div>


        <div class="row my-5 text-center grow" style=" border-radius: 10px;">
            <div class="col-md-6 my-auto p-3">
                <video style="width:100%; border-radius: 10px;" autoplay loop muted>
                    <source src="{%static '/images/vid1.webm'%}" type="video/webm">
                    <source src="{%static '/images/vid1.mp4'%}" type="video/mp4">
                </video>
            </div>
            <div class="col-md-6 my-auto p-5">
                <i class="fa fa-building fa-4x" data-aos="fade-down" aria-hidden="true"></i><br> <br>
                <h4 data-aos="zoom-in" data-aos-duration="1000">CONSTRUCTION </h4>
                <p class="" data-aos="flip-left" data-aos-duration="1000">Compared to all other job sectors,
                    construction has the highest number of
                    fatal work injuries. Accidents on construction sites cause thousands of on-the-job injuries and
                    contribute to almost 20 percent of all yearly private industry worker deaths. There are many
                    factors that contribute to construction site injuries and fatalities. The leading causes of
                    worker deaths on construction sites are Falls, Getting struck by an object, Electrocution,
                    Pipefitter Accidents, Equipment failure, etc.</p>
                <button class="btn btn-outline-primary" onclick="location.href = 'construction'">Know More</button>
            </div>
        </div>

        <div class="row my-5 text-center grow " style=" border-radius: 10px;">
            <div class="col-md-6 my-auto p-5">
                <i class="fa fa-shopping-cart fa-4x" data-aos="fade-down" aria-hidden="true"></i><br> <br>
                <h4 data-aos="zoom-in" data-aos-duration="1000">RETAIL </h4>
                <p class="" data-aos="flip-right" data-aos-duration="1000">Customer satisfaction has always
                    been the priority!. Satisfaction not only
                    include the product quality, but also user experience. We always look to provide that
                    satisfaction. In today's era, user experience is the most important thing matters. We provide an
                    AI solution to overcome security and retail factors .</p>
                <button class="btn btn-outline-primary" onclick="location.href = 'retail'">Know More</button>
            </div>
            <div class="col-md-6 my-auto p-3">
                <video style="width:100%; border-radius: 10px;" autoplay loop muted>
                    <source src="{%static '/images/vid2.webm'%}" type="video/webm">
                    <source src="{%static '/images/vid2.mp4'%}" type="video/mp4">
                </video>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9"></div>
        </div>
        <div class="row my-5 text-center grow " style=" border-radius: 10px;">
            <div class="col-md-6 my-auto p-3">
                <img src="{%static '/images/customized.gif'%}" style="width:100%; border-radius: 10px;"
                    alt="solvingscale.ai customized services">
            </div>
            <div class="col-md-6 my-auto p-3">

                <i class="fa fa-building fa-4x" data-aos="fade-down" aria-hidden="true"></i><br> <br>
                <h4 data-aos="zoom-in" data-aos-duration="1000">Smart City </h4>
                <p class="" data-aos="flip-left" data-aos-duration="1000">Innovate a better future...Smarter
                    India! TDBians always support things to be smart. By 2050, 70% of global population will live in
                    smart cities. TDB provides a solution to make a city smarter, and secure. Our AI solution consist of
                    Traffic management system, Automatic number plate Recognition, Loitering detection, missing and
                    threattening object detection, Car name and brand recognition, Crowd counting, Face recogntion,
                    Quarrel detection, Fire and smoke detection, Intrusion detection, camera tampering, Fall Detection,
                    etc.</p>
                <button class="btn btn-outline-primary" onclick="location.href = 'smartcity'">Know More</button>
            </div>
        </div>
        <div class="row my-5 text-center grow " style=" border-radius: 10px;">
            <div class="col-md-6 my-auto p-3">
                <i class="fa fa-car fa-4x" data-aos="fade-down" aria-hidden="true"></i><br> <br>
                <h4 data-aos="zoom-in" data-aos-duration="1000">AUTOMOBILE </h4>
                <p class="" data-aos="flip-right" data-aos-duration="1000">Nowadays, more and more professions
                    require long-term concentration. Drivers
                    must keep a close eye on the road, so they can react to sudden events immediately. Driver
                    fatigue often becomes a direct cause of many traffic accidents.</p>
                <button class="btn btn-outline-primary" onclick="location.href = 'automobile'">Know More</button>
            </div>
            <div class="col-md-6 my-auto p-3">
                <img src="{%static '/images/automobile3.gif'%}" style="width:100%; border-radius: 10px;"
                    alt="solvingscale.ai automobile services">
            </div>
        </div>

    </div>
    <div class="text-center" data-aos="fade-down">
        <img src="{%static '/images/send.png'%}" alt="solvingscale.ai contact us">
        <h3 style="color: #0066ff;">We’ll happily answer your questions.</h3>
    </div>
    <div class="container justify-content-center">
        <div class="formdiv second" id="consulation">
            <div class="row text-center">
                <div class="col-md-6 my-auto"><br>
                    <!-- <h1>5.0/5.0</h1>
                    <ul>
                        <li><img src="{%static '/images/star.png'%}" alt="solvingscale.ai rating"></li>
                        <li><img src="{%static '/images/star.png'%}" alt="solvingscale.ai rating"></li>
                        <li><img src="{%static '/images/star.png'%}" alt="solvingscale.ai rating"></li>
                        <li><img src="{%static '/images/star.png'%}" alt="solvingscale.ai rating"></li>
                        <li><img src="{%static '/images/star.png'%}" alt="solvingscale.ai rating"></li>
                    </ul>
                    <h5>by our 20+ clients</h5> -->

                    <div class="row my-5 ">
                        <div class="col-1"></div>
                        <div class="col text-right">
                            <img src="{%static '/images/gmail.png'%}" alt="solvingscale.ai gmail">
                        </div>
                        <div class="col-7  text-left">
                            <h5>SAY HELLO</h5>
                            <a class="mailto" href="mailto:someone@example.com">hello@solvingscale.ai</a>
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <div class="row my-5 ">
                        <div class="col-1"></div>
                        <div class="col text-right">
                            <img src="{%static '/images/phone-call.png'%}" alt="solvingscale.ai phonecall">
                        </div>
                        <div class="col-7  text-left">

                            <a class="mailto" href="tel:7507898930">+91-7507898930</a>
                        </div>
                        <div class="col-4"></div>
                    </div>
                </div>
                <div class="col-md-6 my-4 ">
                    <div class="card mx-auto" style="width:90%">

                        <div class="card-body text-left">
                            <form action="{%url 'submit'%}" method="POST">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="form-group col-md-6">

                                        <input type="text" class="form-control" pattern="^[a-zA-Z ]*$" name="name"
                                            id="inputEmail4" placeholder="Name*" required>
                                    </div>
                                    <div class="form-group col-md-6">

                                        <input type="tel" class="form-control no-arrow" pattern="^[6-9]\d{9}$"
                                            name="mobile" id="inputPassword4" placeholder="Mobile Number*" required>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <input type="email" class="form-control" id="inputAddress" name="email"
                                        placeholder="Email*" required>
                                </div>
                                <div class="form-group ">

                                    <select id="inputState1" name="inquiry" class="form-control" required>
                                        <option value="" selected>Your sector</option>
                                        <option value="HEALTHCARE">HEALTHCARE</option>
                                        <option value="CONSTRUCTION">CONSTRUCTION </option>
                                        <option value="CUSTOMERISED SERVICES">CUSTOMERISED SERVICES</option>
                                        <option value="AUTOMOBILE">AUTOMOBILE</option>
                                        <option value="MENUFACTURE">MENUFACTURE</option>
                                        <option value="RETAIL">RETAIL</option>
                                    </select>
                                </div>
                                <!-- <div class="form-group ">

                                    <select id="inputState2" name="pay" class="form-control" required>
                                        <option value="" selected>I will genuinely pay about:</option>
                                        <option value="$60 - $500">$60 - $500</option>
                                        <option value="$500 - $1500">$500 - $1500 </option>
                                        <option value="$1500 - $3500">$1500 - $3500</option>
                                        <option value="More than $3500">More than $3500</option>
                                    </select>
                                </div> -->
                                <div class="form-group">

                                    <textarea class="form-control" name="need"
                                        placeholder="Please describe what you need." id="exampleFormControlTextarea1"
                                        rows="3"></textarea>
                                </div>
                                <center><button type="submit" style="padding: 10px;"
                                        class="btn btn-outline-primary ">Alright
                                        it's Done
                                    </button></center>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    <footer class="remove">
        <div class="row" style="margin-left:  0px; margin-right:0px">
            <div class="col-md-3">
                <img src="{%static '/images/logoblue.png'%}" width="150" alt="solvingscale.ai">
            </div>
            <div class="col-md-6">
                <ul class="footer-ul">
                    <li>
                        <a href="{%url 'company'%}">Company </a>
                    </li>
                    <li>
                        <a href="{%url 'consulting'%}">Consulting </a>
                    </li>
                    <li>
                        <a href="{%url 'team'%}">Team </a>
                    </li>
                    <li>
                        <a href="{%url 'portfolio'%}">Career </a>
                    </li>
                    <li>
                        <a href="{%url 'contact'%}">Contact </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">

                <ul class="social-media">
                    <li><a href="https://www.facebook.com/Solving-Scale-AI-100840541958369"><i class="fa fa-facebook-f"
                                style="color: rgb(104, 100, 100);"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/solvingscale-ai/"><i class="fa fa-linkedin"
                                style="color: rgb(104, 100, 100);"></i></a></li>
                    <li><a href="https://twitter.com/AiScale"><i class="	fa fa-twitter"
                                style="color: rgb(104, 100, 100);"></i></a></li>
                    <li><a href="https://www.instagram.com/solvingscale.ai/"><i class="fa fa-instagram"
                                style="color: rgb(104, 100, 100);"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
<script src="{%static '/js/script.js'%}"></script>
<script src="{%static '/js/val.js'%}"></script>
<script src="{%static '/js/aos.js'%}"></script>
<script>
    $("#videobtn").click(function () {
        $('html,body').animate({
                scrollTop: $(".second").offset().top
            },
            'slow');
    });
    AOS.init();
</script>

</html>