<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->
{% load static %}
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="title" content="Contact Details: 615, Apollo Premier, Vijay Nagar Square, Indore, Madhya Pradesh, India, 452001" >
	<meta name="description" content="For more details about our company please contact @ info@solvingscale.ai">
<meta name="keywords" content="Contact us, AI company, ai solutions,face recogition,attendance management system, ERP, computer vision syndrome.">
	<meta name="author" content="solvingscaleAi">

	<title>Solving Scale AI</title>

	<!-- Mobile Specific Meta
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="{%static '/images/symb.jpeg'%}" />

	<!-- CSS
  ================================================== -->
	<!-- Themefisher Icon font -->
	<link rel="stylesheet" href="{%static '/plugins/themefisher-font/style.css'%}">
	<!-- bootstrap.min css -->
	<link rel="stylesheet" href="{%static '/plugins/bootstrap/css/bootstrap.min.css'%}">
	<!-- Lightbox.min css -->
	<link rel="stylesheet" href="{%static '/plugins/lightbox2/dist/css/lightbox.min.css'%}">
	<!-- animation css -->
	<link rel="stylesheet" href="{%static '/plugins/animate/animate.css'%}">
	<!-- Slick Carousel -->
	<link rel="stylesheet" href="{%static '/plugins/slick/slick.css'%}">
	<!-- Main Stylesheet -->
	<link rel="stylesheet" href="{%static '/css/style.css'%}">
	<!-- font icon -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LVV5M06YY7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LVV5M06YY7');
</script>
</head>

<body id="body">

	<!--
  Start Preloader
  ==================================== -->
	<div id="preloader">
		<div class='preloader'>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<!--
  End Preloader
  ==================================== -->




	<!--
Fixed Navigation
==================================== -->
	<header class="navigation fixed-top">
		<!-- <div class="container"> -->
			<!-- main nav -->
			<nav class="navbar navbar-expand-lg navbar-ligh bg-light">
				<!-- logo -->
				<a class="navbar-brand d-inline-block align-top " href="{%url 'index'%}">
					<img class="logo-defau d-none d-lg-block bg-light" src="{%static '/images/symb.jpeg'%}" alt="solvingscale.ai" title="solvingscale.ai" style="width: 40%;border-radius: 50%;" />
				</a>
				<!-- <a href="" class="d-none d-lg-block ml-auto"><span >SolvingScaleAI</span></a> -->
				<!-- /logo -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
					aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
					<i class="fa fa-bars" aria-hidden="true"></i>

				</button>

				<div class="collapse navbar-collapse" id="navigation">
					<ul class="navbar-nav ml-auto text-center camsecdemo">
						<a href="{%url 'index'%}"><img class="logo-whi d-lg-none d-sm-block ml-auto mr-auto"
							src="{%static '/images/logoblue.png'%}" style="width: 70%;" alt="solvingscale.ai" /></a>	
					<li class="nav-item ">
							<a class="nav-link" href="{%url 'company'%}">Company</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="{%url 'consulting'%}">Consulting</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="{%url 'team'%}">Team</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="{%url 'portfolio'%}">Career</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link" href="{%url 'contact'%}">Contact</a>
						</li>
						
					</ul>
				</div>
			</nav>
			<!-- /main nav -->
		<!-- </div> -->
	</header>
	<!--
End Fixed Navigation
==================================== -->

  <section class="single-page-header">
    <div class="container">
      <div class="row">
        <!-- section title -->
        <div class="col-12">
          <div class="title text-center">
            <h2 class="text-light">Get In Touch</h2>
            <p class="text-light">We’re happy to hear from you. Contact us today to learn more about us and how you can benefit from working with us.</p>
            <div class="border"></div>
          </div>
        </div>
        <!-- /section title -->
      </div>
    </div>
  </section>

  <!--Start Contact Us
	=========================================== -->
  <section class="contact-us" id="contact">
    <div class="container">
      <div class="row">



        <!-- Contact Details -->
        <div class="contact-details col-md-12 ">
          <h3>Contact Details</h3>
          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, vero, provident, eum eligendi blanditiis ex explicabo vitae nostrum facilis asperiores dolorem illo officiis ratione vel fugiat dicta laboriosam labore adipisci.</p> -->
          <ul class="contact-short-info">
            <li>
				<i class="tf-ion-ios-home">Indore-Address: <br></i>
			  <span> 615, Apollo Premier, Vijay Nagar Sqaure, Indore, Madhya pradesh, India, 452001</span><br>
			  <i class="tf-ion-ios-home">Hyderabad-Address: <br></i>
			  <span>2nd Floor, Adviti NIvas PLOT - 26, near RTO Office, Chandragiri Colony, Trimulgherry, Secunderabad, Telangana 500015</span>
            </li>
            <li>
              <i class="tf-ion-android-phone-portrait"></i>
              <span>Phone:  +91-7507898930</span>
            </li>
            <!-- <li>
              <i class="tf-ion-android-globe"></i>
              <span>Fax: +91 89282982982</span>
            </li> -->
            <li>
              <i class="tf-ion-android-mail"></i>
              <span>Email: info@solvingscale.ai</span>
            </li>
          </ul>

        </div>
        <!-- / End Contact Details -->

        <!-- <div class="contact-details col-md-6 " >
        helo
      </div> -->

      </div> <!-- end row -->
    </div> <!-- end container -->
  </section> <!-- end section -->

  <!--Google Map-->
  <section class="map" >
    <!-- Google Map -->
    <div id="">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3679.422487625937!2d75.89437955004446!3d22.749697132107972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fd697b42adf5%3A0x8d0d127bb95b4e3b!2sRegus%20-%20Indore%2C%20Apollo!5e0!3m2!1sen!2sin!4v1609071967376!5m2!1sen!2sin"
        width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
        tabindex="0" ></iframe>
    </div>
  </section>
  <!--====  End  Map  ====-->

  <footer id="footer" class="bg-one">


	<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-bottom">
		<a class="navbar-brand" href="#">
			
			<img class="logo-defau d-none d-lg-block bg-light" src="{%static '/images/logoblue.png'%}" alt="solvingscale.ai" width="150"
				height="30" class="d-inline-block align-top"  loading="lazy" />
		</a>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
			<!-- <a class="navbar-brand" href="#">Hidden brand</a> -->
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0 ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="{%url 'company'%}">Company </a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="{%url 'consulting'%}">Consulting </a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="{%url 'team'%}">Team </a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="{%url 'portfolio'%}">Career </a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="{%url 'contact'%}">Contact </a>
				</li>
				<!-- <li class="nav-item active">
		<a class="nav-link" href="#">SignIn </a>
	  </li> -->
			</ul>
			<ul class="navbar-nav mt-2 mt-lg-0 ml-auto">
				<li class="nav-item ">
					<a class="nav-link" href="https://www.facebook.com/Solving-Scale-AI-100840541958369"><i class="fa fa-facebook-f"></i></a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" href="https://www.linkedin.com/company/solvingscale-ai/"><i class="fa fa-linkedin"></i></a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" href="https://twitter.com/AiScale"><i class="fa fa-twitter"></i></a>
				</li>
				<li class="nav-item ">
					<a class="nav-link" href="https://www.instagram.com/solvingscale.ai/"><i class="fa fa-instagram"></i></a>
				</li>
				
			</ul>
		</div>
	</nav>
</footer>


<!-- end Footer Area
========================================== -->



<!-- 
Essential Scripts
=====================================-->
<!-- Main jQuery -->
<script src="{%static '/plugins/jquery/jquery.min.js'%}"></script>
<!-- Google Map -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script> -->
<!-- <script src="{%static '/plugins/google-map/gmap.js'%}"></script> -->

<!-- Form Validation -->
<!-- <script src="{%static '/plugins/form-validation/jquery.form.js'%}"></script> -->
<!-- <script src="{%static '/plugins/form-validation/jquery.validate.min.js'%}"></script> -->

<!-- Bootstrap4 -->
<!-- <script src="{%static '/plugins/bootstrap/js/bootstrap.min.js'%}"></script> -->
<!-- Parallax -->
<!-- <script src="{%static '/plugins/parallax/jquery.parallax-1.1.3.js'%}"></script> -->
<!-- lightbox -->
<!-- <script src="{%static '/plugins/lightbox2/dist/js/lightbox.min.js'%}"></script> -->
<!-- Owl Carousel -->
<!-- <script src="{%static '/plugins/slick/slick.min.js'%}"></script> -->
<!-- filter -->
<!-- <script src="{%static '/plugins/filterizr/jquery.filterizr.min.js'%}"></script> -->
<!-- Smooth Scroll js -->
<!-- <script src="{%static '/plugins/smooth-scroll/smooth-scroll.min.js'%}"></script> -->

<!-- Custom js -->
<script src="{%static '/js/script.js'%}"></script><script src="{%static '/js/val.js'%}"></script>

</body>

</html>