<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
<!--<![endif]-->
{% load static %}

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="title" content="Team of Solving scale AI - An artificial intelligence company India">
	<meta name="description"
		content="Solving scale AI consist of well trained developers, business managers, engineers and team leader, play a vital to develop best artificial intelligence system as per requirements. ">
	<meta name="keywords"
		content="Our team, team solving scale.ai , Ai consulting services, deep learning, computer vision company">
	<meta name="author" content="solvingscaleAi">

	<title>Solving Scale AI</title>

	<!-- Mobile Specific Meta
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="{%static '/images/symb.jpeg'%}" />
	<link rel="stylesheet" href="{%static '/css/bootstrap.css'%}">
	<!-- font icon -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-LVV5M06YY7"></script>
	<link rel="stylesheet" href="{%static '/css/aos.css'%}">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
	<meta http-equiv="Cache-control" content="public">
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'G-LVV5M06YY7');
	</script>
	<style>
		* {
			font-family: 'Josefin Sans', sans-serif;
		}

		.navbar {
			position: fixed;
			z-index: 1000;
			left: 0;
			right: 0;
			padding: 8px;
		}

		.navbar-brand {
			padding: 0px 10px;
		}

		.footer-ul li a {
			text-decoration: none;
			margin: 0px 10px;
		}

		.social-media li a {
			text-decoration: none;
			margin: 0px 5px;
		}

		ul li {
			text-decoration: none;
			display: inline;

		}

		@media only screen and (max-width: 700px) {
			.remove {
				display: none;
			}
		}

		.company-gallery {}
	</style>
</head>

<body id="body">

	<!--
  Start Preloader
  ==================================== -->
	<div id="preloader">
		<div class='preloader'>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<!--
  End Preloader
  ==================================== -->




	<!--
Fixed Navigation
==================================== -->
	<header class="navigation fixed-top">
		<!-- <div class="container"> -->
		<!-- main nav -->
		<nav class="navbar navbar-expand-lg navbar-ligh bg-light">
			<!-- logo -->
			<a class="navbar-brand d-inline-block align-top " href="{%url 'index'%}">
				<img class="logo-defau d-none d-lg-block bg-light" src="{%static '/images/symb.jpeg'%}"
					alt="solving scale AI logo" title="solvingscale.ai" style="width: 40%;border-radius: 50%;" />
			</a>
			<!-- <a href="" class="d-none d-lg-block ml-auto"><span >SolvingScaleAI</span></a> -->
			<!-- /logo -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
				aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
				<i class="fa fa-bars" aria-hidden="true"></i>

			</button>

			<div class="collapse navbar-collapse" id="navigation">
				<ul class="navbar-nav ml-auto text-center camsecdemo">
					<a href="{%url 'index'%}"><img class="logo-whi d-lg-none d-sm-block ml-auto mr-auto"
							src="{%static '/images/logoblue.png'%}" style="width: 70%;" alt="logo" /></a>
					<li class="nav-item ">
						<a class="nav-link" href="{%url 'company'%}">Company</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link" href="{%url 'consulting'%}">Consulting</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link" href="{%url 'team'%}">Team</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link" href="{%url 'portfolio'%}">Career</a>
					</li>
					<li class="nav-item ">
						<a class="nav-link" href="{%url 'contact'%}">Contact</a>
					</li>

				</ul>
			</div>
		</nav>
		<!-- /main nav -->
		<!-- </div> -->
	</header>
	<!--
End Fixed Navigation
==================================== -->
	<br><br><br><br>
	<section class="about" id="about">
		<div class="container">
			<div class="row">

				<!-- <div class="row"> -->
				<!-- section title -->
				<div class="col-12">
					<div class="title text-center ">
						<h2 data-aos="fade-down">Our Team</h2>
						<div class="border"></div>
					</div>
				</div>
				<!-- /section title -->
				<!-- </div> -->

				<div class="col-md-6">
					<!-- <img src="images/about-us.jpg" alt=""> -->
					<img src="{%static '/images/team/nwteamm.jpg'%}" class="img-fluid" alt="solvingscal.ai team">

				</div>
				<div class="col-md-6 my-auto">
					<p style="font-size: 18px;" data-aos="zoom-in" data-aos-duration="1500">It takes an incredible team to create something transformative. We have
						among us curious business
						developers, smart engineers, <br> creative designers, energetic leaders and <br> a whole bunch
						of
						aspirational individuals. <br> Our Team come from diverse educational and professional
						backgrounds from prestigious institutes around the world to leading corporates and startups.
					</p>

				</div>
			</div> <!-- End row -->
		</div> <!-- End container -->
	</section> <!-- End section -->

	<br><br>
	<section class="text-center">
		<h3>Sneak Peak Gallery</h3>
	</section>
	<div class="container">
		<div class="row">
			<div class="col"><img src="{%static '/images/team/1.jpeg'%}" width="100%" alt="solvingscale.ai group 1">
			</div>
			<div class="col"><img src="{%static '/images/team/2.jpeg'%}" width="100%" alt="solvingscale.ai group 2">
			</div>
			<div class="col"><img src="{%static '/images/team/3.jpeg'%}" width="100%" alt="solvingscale.ai group 3">
			</div>
			<div class="col"><img src="{%static '/images/team/5.jpeg'%}" width="100%" alt="solvingscale.ai group 4">
			</div>
		</div>
	</div>
	
	<br>
	<footer class="remove">
		<div class="row" style="margin-left:  0px; margin-right:0px">
			<div class="col-md-3">
				<img src="{%static '/images/logoblue.png'%}" width="150" alt="solvingscale.ai">
			</div>
			<div class="col-md-6">
				<ul class="footer-ul">
					<li>
						<a href="{%url 'company'%}">Company </a>
					</li>
					<li>
						<a href="{%url 'consulting'%}">Consulting </a>
					</li>
					<li>
						<a href="{%url 'team'%}">Team </a>
					</li>
					<li>
						<a href="{%url 'portfolio'%}">Career </a>
					</li>
					<li>
						<a href="{%url 'contact'%}">Contact </a>
					</li>
				</ul>
			</div>
			<div class="col-md-3">

				<ul class="social-media">
					<li><a href="https://www.facebook.com/Solving-Scale-AI-100840541958369"><i class="fa fa-facebook-f"
								style="color: rgb(104, 100, 100);"></i></a></li>
					<li><a href="https://www.linkedin.com/company/solvingscale-ai/"><i class="fa fa-linkedin"
								style="color: rgb(104, 100, 100);"></i></a></li>
					<li><a href="https://twitter.com/AiScale"><i class="	fa fa-twitter"
								style="color: rgb(104, 100, 100);"></i></a></li>
					<li><a href="https://www.instagram.com/solvingscale.ai/"><i class="fa fa-instagram"
								style="color: rgb(104, 100, 100);"></i></a></li>
				</ul>
			</div>
		</div>
	</footer>


	<!-- end Footer Area
	========================================== -->



	<!-- 
	Essential Scripts
	=====================================-->
	<!-- Main jQuery -->
	<script src="{%static '/plugins/jquery/jquery.min.js'%}"></script>

	<!-- Bootstrap4 -->
	<script src="{%static '/plugins/bootstrap/js/bootstrap.min.js'%}"></script>
	<!-- Owl Carousel -->
	<!-- <script src="{%static '/plugins/slick/slick.min.js'%}"></script> -->
	<!-- Custom js -->
	<script src="{%static '/js/script.js'%}"></script>
	<script src="{%static '/js/val.js'%}"></script>
	<script src="{%static '/js/aos.js'%}"></script>
	<script>
		AOS.init();
	</script>

</body>

</html>